---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/about-card.astro";
import Navbar from "../components/navbar.astro";
---

<Layout title="A.K.T.I.O - About">
  <main>
    <Navbar />
    <Header />
    <Card />
  </main>
</Layout>
