---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/navbar.astro";
---

<Layout title="A.K.T.I.O - Utilities">
  <main>
    <Navbar />
    <Header />
    <div
      class="flex items-center justify-center from-teal-100 via-teal-300 to-teal-500"
    >
      <div
        class="w-full max-w-lg px-10 py-10 mx-auto bg-white rounded-lg shadow-xl"
      >
        <div class="max-w-md mx-auto space-y-6">
          <div class="flex flex-col">
            <a
              href="https://amazon.es"
              class="h-10 px-5 m-2 text-white font-bold transition-colors duration-150 bg-black rounded-lg border border-white hover:border-black hover:bg-white hover:text-black hover:border h-12 px-6 m-2 flex items-center justify-center"
            >
              Hola
            </a>
            <a
              href="https://amazon.es"
              class="h-10 px-7 m-2 text-white font-bold transition-colors duration-150 bg-black rounded-lg border border-white hover:border-black hover:bg-white hover:text-black hover:border h-12 px-6 m-2 flex items-center justify-center"
            >
              Hola
            </a>
            <a
              href="https://amazon.es"
              class="h-10 px-5 m-2 text-white font-bold transition-colors duration-150 bg-black rounded-lg border border-white hover:border-black hover:bg-white hover:text-black hover:border h-12 px-6 m-2 flex items-center justify-center"
            >
              Hola
            </a>
            <a
              href="https://amazon.es"
              class="h-10 px-5 m-2 text-white font-bold transition-colors duration-150 bg-black rounded-lg border border-white hover:border-black hover:bg-white hover:text-black hover:border h-12 px-6 m-2 flex items-center justify-center"
            >
              Hola
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
