---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/index-card.astro";
---

<Layout title="A.K.T.I.O - Main">
  <main>
    <nav class="bg-transparent">
      <div
        class="container flex items-center justify-center p-8 mx-auto capitalize text-white hover:text-grey-500 border-b-2 border-transparent mx-1.5 sm:mx-6"
      >
      </div>
    </nav>
    <Header />
    <Card />
  </main>
</Layout>
