---
console.log("javascript");
---

<div
  class="flex items-center justify-center from-teal-100 via-teal-300 to-teal-500"
>
  <div
    class="w-full max-w-lg px-10 py-10 mx-auto bg-white rounded-lg shadow-xl"
  >
    <div class="max-w-md mx-auto space-y-6">
      <div class="flex flex-col">
        <h1 class="mb-3 text-2xl font-extrabold text-center">
          What is A.K.T.I.O?
        </h1>
        <p class="text-center">
          Its a pack of apps/libraries and all the resources needed for create a
          keyboard from scratch.
        </p>
        &nbsp;
        <h1 class="mb-3 text-2xl font-extrabold text-center">
          Why i create A.K.T.I.O?
        </h1>
        <p class="text-center">
          Because i like the world of keyboards and everything that surrounds it
          , but starting its dificult so i create all you need for this hobby.
        </p>
        &nbsp;
        <h1 class="mb-3 text-2xl font-extrabold text-center">
          Technologies used
        </h1>
        <list class="text-center">
          <p class="font-bold"><a href="https://www.docker.com/">Docker</a></p>
          <p class="font-bold"><a href="https://astro.build/">Astro</a></p>
          <p class="font-bold">
            <a href="https://tailwindcss.com/">Tailwind</a>
          </p>
          <p class="font-bold"><a href="https://www.python.org/">Python</a></p>
        </list>
      </div>
    </div>
  </div>
</div>
